.hero{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 35px;
}
.hero img{
    margin-top: 80px;
}
.hero h1{
    text-align: center;
    width: 70%;
    font-size: 50px;
    font-family: 'Italiana';
    font-style: normal;
    font-weight: 400;
    color: aliceblue;
    font-weight: 600;
}
.hero h1 span{
    background: linear-gradient(270deg, #ffff 10%, #50f613 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.hero p{
    width: 50%;
    text-align: center;
    font-size: 22px;
    line-height: 40px;
}
.hero-action{
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 50px;
}
.hero-connect{
    padding: 7px 15px;
    border-radius: 50px;
    background: linear-gradient(270deg, #ffff 10%, #50f613 100%);
    cursor: pointer;
    color: black;
}
.hero-connect:hover{
    transform: scale(1.1);
    transition: 0.3s;
}
.hero-resume{
    padding: 7px 20px;
    border-radius: 50px;
    background: linear-gradient(270deg, #ffff 10%, #50f613 100%);
    cursor: pointer;
    color: black;
}
.hero-resume:hover{
    transform: scale(1.1);
    transition: 0.3s;
}

@media(max-width:900px){
    .hero img{
        margin-top: 120px;
        width: 260px;
    }
    .hero h1{
        margin-top: 50px;
        width: 90%;
        font-size: 50px;
    }
    .hero p{
        width: 60%;
        font-size: 18px;
        line-height: 32px;
        margin: 10px 0px;
    }
    .hero-action{
        gap: 16px;
        font-size: 180x;
        font-weight: 500;
        margin-bottom: 50px;
    }
    .hero-connect{
    padding: 5px 12px;
    }
    .hero-resume{
        padding: 5px 12px;
    }
}